#main-win-container {
  overflow-y: scroll;
  max-height: 739px;
}

.desktop {
  display: flex;
  height: 100vh;
}

#gameStarts div {
  margin-bottom: 2px;
}

.statsColumn {
  margin-left: 10px;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  min-width: 300px;
  max-width: 100%;
}

.summaryRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

.fade {
  transition: opacity 0.08s;
}

#changelog {
  h1 {
    margin-top: 0;
  }
}

#main-card {
  min-height: 575px;
  max-height: 575px;
}

#adContainer .card-body {
  background-color: black;
  background-image: url(../../images/ads_placeholder_bg.png);
  width: 400px;
  height: 300px;
  padding: 0;
  margin-left: 10px;
}
