:root {
  --default-backgroundcolor: #51596065;
  --darker-background: #272b30;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background: transparent;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-corner {
  background: var(--darker-background);
}

::-webkit-scrollbar-thumb {
  background: var(--default-backgroundcolor);
}

#titleBar {
  height: 32px;
  .navbar-brand {
    padding: 0 0.5rem 0 0.5rem;
  }

  padding-right: 0;
}

.navbar {
  padding-left: unset;
  padding-right: 1rem;
  background-color: var(--default-backgroundcolor) !important;
}

#exitButton {
  border: 0;
  width: 3rem;
  border-radius: 0;
  height: 30px;
}

#ow_ad {
}

* {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

h1 {
  font-size: 1.9rem;
}

h2 {
  font-size: 1.7rem;
}

h3 {
  font-size: 1.3rem;
}

h4 {
  font-size: 1.1rem;
}

.custom-control-input:checked ~ .custom-control-label::before {
  background-color: #000;
}

body {
  height: 100vh;
  overflow: hidden;
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

.list-group-item {
  background-color: #32383ec4;
}

.media-object {
  width: 48px;
  margin-right: 10px;
}
