:root {
  --default-backgroundcolor: #51596065;
  --darker-background: #272b30;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background: transparent;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-corner {
  background: var(--darker-background);
}

::-webkit-scrollbar-thumb {
  background: var(--default-backgroundcolor);
}

#titleBar {
  height: 32px;
  .navbar-brand {
    padding: 0 0.5rem 0 0.5rem;
  }

  padding-right: 0;
}

.navbar {
  padding-left: unset;
  padding-right: 1rem;
  background-color: var(--default-backgroundcolor) !important;
}

#exitButton {
  border: 0;
  width: 3rem;
  border-radius: 0;
  height: 30px;
}

* {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */

  font-family: "Neue Haas Grotesk Display Pro 55 Roman";
  /*text-transform: uppercase;*/
}

.custom-control-input:checked ~ .custom-control-label::before {
  background-color: #000;
}

.badge {
  letter-spacing: 1px;
}

body {
  height: 100vh;
  overflow: hidden;
  line-height: 1.2;
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

.list-group-item {
  background-color: #32383e33;
  padding: 0.5rem;
  text-shadow: -1px -1px 5px #000, 1px 1px 5px #000;
}

.media-object {
  width: 32px;
  opacity: 0.75;
}

.media-body h5 {
  line-height: 1;
  font-size: 0.8rem;
  /*font-family: "Neue Haas Grotesk Display Pro 65 Medium";
  text-transform: uppercase;
  font-weight: bold;*/
  margin-bottom: 2px;

  text-shadow: -1px -1px 5px #000, 1px 1px 5px #000;
}

@media (max-width: 250px) {
  body {
    font-size: 0.7rem;
  }

  .media-body h5 {
    font-size: 0.8rem;
  }

  h1 {
    font-size: 1.9rem;
  }

  h2 {
    font-size: 1.7rem;
  }

  h3 {
    font-size: 1.3rem;
  }

  h4 {
    font-size: 1.1rem;
  }
}

@media (max-width: 200px) {
  body {
    font-size: 0.7rem;
  }

  .navbar-brand {
    font-size: 0.8rem;
  }

  .media-body h5 {
    font-size: 0.8rem;
  }

  h1 {
    font-size: 1.9rem;
  }

  h2 {
    font-size: 1.7rem;
  }

  h3 {
    font-size: 1.3rem;
  }

  h4 {
    font-size: 1.1rem;
  }
}
